<div id="signup-form-root" 
     data-signup-path="<%= registrations_path %>" 
     data-login-path="<%= login_path %>">
  <%# React will mount here %>
  <div class="auth-fallback">
    <p>Loading interactive sign up...</p>
  </div>
</div>
