<div id="login-form-root" 
     data-signup-path="<%= signup_path %>" 
     data-login-path="<%= session_path %>">
  <%# React will mount here %>
  <div class="auth-fallback">
    <p>Loading interactive login...</p>
  </div>
</div>
